/* Fuentes */
/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos header  */

header {
  grid-area: nav;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #e94a24; /* Color de fondo */
  display: flex;
  justify-content: space-between;
}

.topnav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.topnav a {
  padding: 7px 6px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.topnav .icon {
  display: none;
}

.navbar {
  width: 100%;
  height: 50px;
}

a,
button {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  color: antiquewhite;
}

button {
  padding: 5px 25px;
  background-color: #bc2216;
  border: none;
  border-radius: 50px;
}

/* Estilos del footer */

footer {
  background: #a7ffeb;
  grid-area: footer;
  background-color: #1d946b;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.text-presentation,
.rights-text,
.opciones-redes {
  flex: 1;
}

/*********************/

/* Estilos generales */
body {
  font-family: "Roboto", monospace;
  text-align: center;
}

.fachada {
  max-width: 1000px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  display: flex;
  justify-content: space-between; /* Distribuye uniformemente las imágenes */
  overflow: hidden; /* Evita que las imágenes se desborden del contenedor */
}

.slide {
  max-width: 30%; /* Establece un ancho máximo para cada imagen */
  height: auto; /* Ajusta la altura automáticamente */
  max-height: 30%; /* Establece una altura máxima para cada imagen */
}

.slide:hover {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el cursor */
}

.filosofia {
  padding: 5% 1%;
}
.nombre {
  font-family: "Roboto black";
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 60px;
}

a,
button {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  color: antiquewhite;
  text-align: none;
}

button {
  padding: 5px 25px;
  background-color: #bc2216;
  border: none;
  border-radius: 50px;
}

/* Estilos del contenido principal */
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1.2fr 0.8fr;
  grid-template-areas:
    "nav nav nav"
    "main main main"
    "footer footer footer";
  grid-gap: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.logo {
  width: 32px;
  height: auto;
  margin-top: 3px;
}

.topnav .logo {
  float: left;
  display: block;
}

main {
  grid-area: main;
  font-weight: 600;
  font-size: 25px;
  text-align: left;
  color: aliceblue;
  background-color: #7bb397;
  text-transform: uppercase;
  padding: 10% 5% 5% 5%;

  color: #f5f1ea;
  line-height: 1; /* Establece la interlinea al 100% del tamaño del texto */
}
.marca_titulo {
  font-size: 100px;
  line-height: 0.8;
}

.elemento-grid-anidado {
  text-align: left;
  padding: 10%;
}

.contacto_nosotros {
  grid-area: footer;
}

.foto {
  background: #6fc4a9;
  grid-area: foto;
  display: flex;
  justify-content: center;
  align-items: center; /* Centra la imagen verticalmente */
}

.imagen-responsiva {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.content1,
.content2,
.content3 {
  display: flex;
  justify-content: center;
  align-items: left;
}

.content1 {
  background: #f5f1ea;
  grid-area: content1;
}

.content2 {
  background: #f5f1ea;
  grid-area: content2;
}

.content3 {
  background: #f5f1ea;
  grid-area: content3;
}

/* Estilos responsivos */
@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr;
    grid-template-areas:
      "nav"
      "foto"
      "main"
      "footer";
  }
}

.redes-sociales {
  display: block;
}

.redes-sociales a {
  margin-right: 10px; /* Ajusta el espaciado entre los iconos */
}

.redes-sociales a:last-child {
  margin-right: 0; /* Elimina el margen derecho del último icono para evitar espacios extra */
}

.redes-sociales i {
  font-size: 24px; /* Ajusta el tamaño de los iconos */
  color: #fff; /* Cambia el color de los iconos según tu preferencia */
}

@media screen and (max-width: 455px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr;
    grid-template-areas:
      "header"
      "foto"
      "main"
      "footer";
  }

  .navbar {
    grid-area: navbar;
    width: 100%;
    height: 65px;
  }

  header {
    grid-area: header;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #e94a24; /* Color de fondo */
    display: flex;
    height: 65px;
    justify-content: space-between;
  }

  .topnav {
    margin-top: 15px;
    display: block;
  }

  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    background-color: #e94a24;
    background-image: none;
  }

  .logo {
    width: 30px;
    height: auto;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    grid-area: footer;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "footer "
      "footer ";
  }
}
